

body{
	background: grey;
}

.loop{
	margin-left: 5vw;
	display: flex;
	flex-flow: row wrap;
}



.column {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  
}
/* Create two equal columns that sits next to each other */
.row {
  padding: 0 4px;
}

.row img {
  margin-top: 8px;
  vertical-align: middle;
  width: 12%; /* Will shrink image to 30% of its original width */
  height: auto;
  border: black solid 1px;
}

.cnn{
	margin-left: 5vw;
	display: flex;
	width: auto;

}

.column2 img {
  margin-top: 10px;
  vertical-align: middle;
  width: 20%; /* Will shrink image to 30% of its original width */
  height: auto;
  padding: 15px;
  border: black solid 1px;
}

.row2 {
  /*display: flex;
  flex-wrap: wrap;*/
 /* padding: 0 4px;*/
}

/* Create two equal columns that sits next to each other */
.column2 {

  /*flex: 50%;*/
  /*padding: 0 4px;*/
}


@font-face {
  font-family: nk57;
  src: url(nk57.ttf);
}

@font-face {
  font-family: textme;
  src: url(textme.ttf);
}

.title{
	font-family: textme;
	padding: 0;
	margin: 0;

	height: 95vh;
	width: 13vw;
	 text-align:left;
    position: fixed;
    display: flex;
    justify-content: center;
	align-items: center;

}

.sideways{
	white-space: nowrap;
    font-size: 7vw;
    padding: 5px;
    background: whitesmoke;
    /*font-size: calc(30px+10vw)*/
    /*margin-top: 25%;
    margin-left: 5%;*/
    border: blue solid 2px;
    transform: translate(-1.2%, 0) rotate(270deg);
}


.wholevector{
	display: flex;
	justify-content: space-between;
	/*width: 83vw;*/
}



.vector{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-basis: auto;
	height: auto;
	margin-left: 10vw;
}


#video{
	margin-left: 5vw;
}

/*flexbox*/
/*create a wrapper that contains both the video and the pics. set that to display: flex. */

#backhome{
	position: relative;
	float: right;
	top: 0;
	display: flex;

}

.massive{
	margin-top: 2vw;
	margin-bottom: 1vw;
	margin-right: 3vw;
	padding: 0;
	width: 80vw;
	float: right;
	background: white;
	border: black dashed 5px;
}

.journal{
	display: flex;
    justify-content: space-around;
}

.journal img{
	width: 30%;
}


.misc{
	display: flex;
  justify-content: space-around;
  margin-left: 2vw;
}

.miscrow {
  padding: 5 5px;
}

.miscrow img {
  margin-top: 10px;
  margin-right: 10px;
  vertical-align: middle;
  width: 30%; /* Will shrink image to 30% of its original width */
  height: auto;
}

.kahlil{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 2vw;
}

.anchor{
	margin-top: 1vw;
	margin-left: 8vw;
	font-family: textme;
	font-size: 30px;
	border: solid black 3px;
	background: blue;
	position: fixed;
/*	z-index: 1;*/
	padding: 3 3 3 3;

}
 a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

