* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

body{
  background: whitesmoke;
}



@keyframes spinning {
    from { transform: rotate(360deg) }
    to { transform: rotate(0deg) }
  }

 .spin{
 	animation-name: spinning;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
      top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

 }



#circtext1{

		margin: 0;
  position: absolute;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform-origin: center center;

}



#circtext2{
		margin: 0;
  position: absolute;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}
#circtext3{
		margin: 0;
  position: absolute;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;

}
#circtext4{
		margin: 0;
  position: absolute;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;

}
#circtext5{
		margin: 0;
  position: absolute;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;

}
#circtext6{
		margin: 0;
  position: absolute;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;

}




#all{
	display: grid;
	width: 100%;
	grid-template-columns: auto auto;
	/*align-items: center;*/
  justify-content: space-between;
  padding: 10px;
}

#me{
	
	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#div1{
	height: 400px;
	width:  400px;
	position: fixed;
	top: 0;
	left: 0;
	
}

#div2{
	height: 400px;
	width:  400px;
	position: fixed;
	top: 0;
	right: 0;
	
}

#div3{
	height: 400px;
	width:  400px;
	position: fixed;
	bottom: 0;
	left: 0;
	
}

#div4{
	height: 400px;
	width:  400px;
	position: fixed;
	bottom: 0;
	right: 0;
	
}
@font-face {
  font-family: nk57;
  src: url(nk57.ttf);
}

@font-face {
  font-family: textme;
  src: url(textme.ttf);
}



/*.fullscreen{
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}*/

#background{
  position: absolute;
    /*top: 0;
    left: 0;*/
    width: 110%;
    height: 110%;
    opacity: 0%;
}



#profilepic{
	height: 200px;
	width: 200px;
	z-index: -1;
/*	position: fixed;
	margin-left: 42vw ;
	margin-top: 0px;
	padding-top: 5px;*/
}

#artbub{
	height: 27vw;
	width: 27vw;
	/*margin-left: 50vw;
	margin-top: 7vw;
	position: fixed;*/

}

#selected{
	height: 27vw;
	width: 27vw;
/*	margin-left: 1vw;
	margin-top: 10vw;
	position: fixed;*/
}

#web{
	height: 27vw;
	width: 27vw;
	/*margin-left: 77vw;
	margin-top: 22vw;
	position: fixed;*/
}



#words{
	height: 27vw;
	width: 27vw;
	/*margin-left: 36vw;
	margin-top: 29vw;
	position: fixed;*/
}




.pagelink{
	text-decoration: none;
}

.writlinks{
	font-family: "textme";
	font-size: 45px;
	display: block;
	margin: auto;
	vertical-align: center;
	top: 50%;
}

.descrip{
	font-size:20px;
	font-family: nk57;
}


#backhome{
	position: sticky;
	float: right;
    top: 0;

}



.rideshare{
	font-family: textme;
	font-size: 45px;
	display: block;
	margin: auto;
	vertical-align: center;
	margin-left: 3vw;
	margin-right: 3vw;

}

.titleR{
	font-family: textme;
	padding: 0;
	margin: 0;

	height: 97vh;
	width: 13vw;
	 text-align:left;
    position: fixed;
    display: flex;
    justify-content: center;
	align-items: center;

}

.sidewaysR{
	white-space: nowrap;
    font-size: 6vw;
    padding: 5px;
    background: whitesmoke;
    /*font-size: calc(30px+10vw)*/
    /*margin-top: 25%;
    margin-left: 5%;*/
    border: blue solid 2px;
    transform: translate(-1.2%, 0) rotate(270deg);
}


.titleW{
	font-family: textme;
	padding: 0;
	margin: 0;

	height: 97vh;
	width: 13vw;
	 text-align:left;
    position: fixed;
    display: flex;
    justify-content: center;
	align-items: center;

}

.sidewaysW{
	white-space: nowrap;
    font-size: 8vw;
    padding: 5px;
    background: whitesmoke;
    /*font-size: calc(30px+10vw)*/
    /*margin-top: 25%;
    margin-left: 5%;*/
    border: blue solid 2px;
    transform: translate(-1.2%, 0) rotate(270deg);
}

.titleS{
	font-family: textme;
	padding: 0;
	margin: 0;

	height: 97vh;
	width: 13vw;
	 text-align:left;
    position: fixed;
    display: flex;
    justify-content: center;
	align-items: center;

}

.sidewaysS{
	white-space: nowrap;
    font-size: 8vw;
    padding: 5px;
    background: whitesmoke;
    /*font-size: calc(30px+10vw)*/
    /*margin-top: 25%;
    margin-left: 5%;*/
    border: blue solid 2px;
    transform: translate(-1.2%, 0) rotate(270deg);
}


.massive{
	margin-top: 5vw;
	margin-bottom: 2vw;
	padding-left: 4px;
	margin-right: 10px;
	width: 87vw;
	float: right;
	background: white;
	border: black dashed 5px;

}

.fb{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.otherapps{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.explanation{
	font-size:20px;
	font-family: nk57;"
}


.intro{
	font-size: 18px;
	font-family: nk57;
	margin-left: 2vw;
}


.ashareview{
	width: 45vw;
	height:  auto;
	border: black solid 1px;
	margin-left: 2vw;
	padding: 1vw;
	display: flex;
}

.resumebox{
	border: black solid 1px;
/*	margin-left: 2vw;
*/	padding: 1vw;
/*	float: right;*/
	margin-left: 20vw;
	width: 11vw;
	font-family: nk57;
	font-size: 2vw;
	height: auto;
	margin-top: 2vw;
}

.agnesreview{
	width: 45vw;
	height:  auto;
	border: black solid 1px;
	margin-left: 2vw;
	padding: 1vw;
	display: flex;
}

.andrewreview{
	width: 45vw;
	height:  auto;
	border: black solid 1px;
	margin-left: 2vw;
	padding: 1vw;
	display: flex;
}

.reviews{
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

.loopstrat{
	display: flex;
	align-items: center;
	justify-content: space-around;

}

hr{
	border: solid black 0.5px;
}

.auximg{
	display: flex;
	justify-content: space-between;
  margin-left: 2vw;
}

.auxrow {
  padding: 5 5px;
}

.auxrow img {
  margin-top: 10px;
  margin-right: 50px;
  vertical-align: middle;
  width: 45%; /* Will shrink image to 30% of its original width */
  height: auto;
  border: black solid 1px;
}

.auxcolumn {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  
}

.aux{
	margin-left: 2vw;
}

h1{
	margin-left: 2vw;
}

.anchor{
	margin-left: 13vw;
	margin-top: 1vw;
	font-family: textme;
	font-size: 40px;
	border: solid black 3px;
	background: blue;
	position: fixed;
	z-index: 1;
	padding: 3 3 3 3;

}
 a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}
